html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #ea4993;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #000;
  margin: 0;
  position: fixed;
  z-index: 2;
}

.nav {
  width: 100%;
}
.nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  list-style: none;
  height: 50px;
  margin: 0;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #ea4993;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 70px 0;
}

.section {
  width: 45%;
  padding: 30px;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-item {
  position: relative;
  padding-left: 20px;
}

.section-item::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 2px solid #000;
  border-radius: 50%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.proj {
  width: 100%;
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }
  &__item {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 20px;
    row-gap: 20px;
    border-bottom: 2px solid #ea4993;
    &:hover .proj__bcg {
      transform: scale(1.15);
    }
    a {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #ea4993;
      }
    }
  }
  &__bcg {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
  &__bcg-wrap {
    display: flex;
    column-gap: 10px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }
}

.poker {
  background: url('./assets/images/poker.jpg') no-repeat center;
  background-size: contain;
}

.store {
  background: url('./assets/images/store.jpg') no-repeat center;
  background-size: contain;
}

.zoo {
  background: url('./assets/images/zoo.jpg') no-repeat center;
  background-size: contain;
}

.toxin-landing {
  background: url('./assets/images/toxin-landing.jpg') no-repeat center;
  background-size: contain;
}
.toxin-search {
  background: url('./assets/images/toxin-search.jpg') no-repeat center;
  background-size: contain;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 50px;
}
.footer-logo {
  width: 100px;
  margin-left: 50px;
}

.photo {
  border-radius: 10%;
  border: 1px solid #000;
}
.cert {
  display: flex;
  flex-direction: column;
}
.cert__img {
  width: 400px;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
  .nav-link {
    padding: 10px;
  }
}
