html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  margin: 0; padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  transition: color .3s ease;
}
a:hover {
  color: #ea4993;
}


* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  background-color: #000;
  margin: 0;
  position: fixed;
  
  
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 50px;
  margin: 0;
  
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  transition: color .3s;
}
.nav-link:hover {
  color: #ea4993;
}


.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 70px 0;
}

.section {
  width: 40%; 
  padding: 30px;
}


.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-item {
  position: relative;
  padding-left: 20px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px; 
  border: 2px solid #000;
  border-radius: 50%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.code {
  display: block;
  background-color: darkgray;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 50px;
}
.footer-logo {
  width: 100px;
  margin-left: 50px;
}

.photo {
  border-radius: 50%;
}


@media (max-width: 768px) {
  .section {
    width: 100%;
  }
  .nav-link {
    padding: 10px;
  }
}